@font-face {
    font-family: 'Exo2-0-LightItalic';
    src: url('Exo2-0-LightItalic.eot?#iefix') format('embedded-opentype'), url('Exo2-0-LightItalic.otf') format('opentype'), url('Exo2-0-LightItalic.woff') format('woff'), url('Exo2-0-LightItalic.ttf')  format('truetype'), url('Exo2-0-LightItalic.svg#Exo2.0-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
