<div class="userNotFound">
    There are a few possible reasons for this:
    <ul>
        <li>They changed their username.</li>
        <li>They may have been <a href="{{ urls.format('SITE_FAQ') }}#abyss" class="default">abyss'd</a>.</li>
        <li>You made a typo.</li>
        <li>They never existed.</li>
    </ul>
</div>
