@font-face {
    font-family: 'Century-Gothic';
    src: url('Century-Gothic.eot?#iefix') format('embedded-opentype'),  url('Century-Gothic.woff') format('woff'), url('Century-Gothic.ttf')  format('truetype'), url('Century-Gothic.svg#Century-Gothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
