@font-face {
    font-family: 'Aller-Italic';
    src: url('Aller-Italic.eot?#iefix') format('embedded-opentype'),  url('Aller-Italic.woff') format('woff'), url('Aller-Italic.ttf')  format('truetype'), url('Aller-Italic.svg#Aller-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
