{% extends 'global/master.twig' %}

{% block title %}Information{% endblock %}

{% block content %}
    <div class="platform">
        <h1 class="sectionHead">Information</h1>
        {{ page.message }}
        {% if page.redirect %}<br /><a href="{{ page.redirect }}" class="default">Click here if you aren't being redirected.</a>{% endif %}
    </div>
{% endblock %}
