# Libraries
/vendor
/node_modules
/npm-debug.log

# Configuration
/config/config.ini

# Cache
/cache/*
!/cache/.gitkeep

# OS specific shit
[Tt]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store

# Compiled/copied assets
/public/js
/public/css
/public/favicon.ico

# User assets
/uploads/*
!/uploads/.gitkeep
