.idea/
.vs/
errors.log
BingSiteAuth.xml
google*.html
/config/config.ini
/cache/*
!/cache/.sakura
/uploads/*
!/uploads/.sakura
/vendor
!/vendor/.sakura
[Tt]humbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
*.phpproj
*.user
*.sln
