# Libraries
/vendor
/node_modules
/npm-debug.log

# Configuration
/config/config.ini

# Cache
/cache/*
!/cache/.gitkeep

# OS specific shit
[Tt]humbs.db
[Dd]esktop.ini

# Compiled/copied assets
/public/js
/public/css
/resources/assets/typescript/*.d.ts

# User assets
/uploads/*
!/uploads/.gitkeep
