{% extends 'master.twig' %}

{% block content %}
    <h1 class="stylised" style="text-align: center; margin: 2em auto;">I'll actually make reporting a thing, someday...</h1>
    <h3 class="stylised" style="text-align: center; margin: 2em auto;">...but today is not that day.</h3>
{% endblock %}
