@font-face {
    font-family: 'Exo2-0-Regular';
    src: url('Exo2-0-Regular.eot?#iefix') format('embedded-opentype'), url('Exo2-0-Regular.otf') format('opentype'), url('Exo2-0-Regular.woff') format('woff'), url('Exo2-0-Regular.ttf')  format('truetype'), url('Exo2-0-Regular.svg#Exo2.0-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
