{% extends 'master.twig' %}

{% set title = post.title %}

{% set commentsCategory = 'news-' ~ post.category ~ '-' ~ post.id %}
{% set comments = post.comments %}

{% set newsHideTitle = true %}
{% set newsHideCommentCount = true %}

{% block content %}
    <div class="content news">
        <div class="content__header">{{ post.title }}</div>
        {% include 'elements/newsPost.twig' %}
        {% include 'elements/comments.twig' %}
    </div>
{% endblock %}

