@font-face {
    font-family: 'Aller';
    src: url('//cdn.flashii.net/fonts/aller.eot');
    src: local("Aller"),
         url('//cdn.flashii.net/fonts/aller.eot?#iefix') format('embedded-opentype'),
         url('//cdn.flashii.net/fonts/aller.woff') format('woff'),
         url('//cdn.flashii.net/fonts/aller.svg#SegoeUILight') format('svg');
    font-weight: normal;
    font-style: normal;
}
