@font-face {
    font-family: 'SegoeUI-LightItalic';
    src: url('SegoeUI-LightItalic.eot?#iefix') format('embedded-opentype'),  url('SegoeUI-LightItalic.woff') format('woff'), url('SegoeUI-LightItalic.ttf')  format('truetype'), url('SegoeUI-LightItalic.svg#SegoeUI-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
