{% extends 'master.twig' %}

{% set title = 'Farewell!' %}

{% block content %}
    <div class="content standalone" style="text-align: center;">
        <h1 class="stylised" style="margin: 1em auto;">Farewell!</h1>
        <h1 class="fa fa-frown-o stylised" style="font-size: 20em;"></h1>
        <h3>Remember that you can reactivate your account anytime if you decide to come back!</h3>
    </div>
{% endblock %}
