{% extends 'settings/advanced/master.twig' %}

{% set mode = 'Deactivate' %}

{% block description %}
    <p>You can deactivate your account here if you want to leave.</p>
    <p>This will remove your account from every rank it's a part of.</p>
    <p>If you have an active Tenshi tag on your account it won't pause while your account is deactivated.</p>
    <p>You can reactivate your account by logging in within 30 days, after that period your account will be removed.</p>
{% endblock %}

{% block settingsContent %}
    <form enctype="multipart/form-data" method="post" action="{{ route('settings.advanced.deactivate') }}">
        <div class="profile-field">
            <div><h2>Enter your password to continue</h2></div>
            <div><input type="password" name="password" class="inputStyling"></div>
        </div>
        <div class="profile-save">
            <button style="background: repeating-linear-gradient(-45deg, #B33, #B33 10px, #B00 10px, #B00 20px); color: #FFF; border: 1px solid #C00; box-shadow: 0 0 3px #C00, inset 0 0 3px #C00;" name="session" value="{{ session_id() }}" class="inputStyling">I understand, deactivate my account</button>
        </div>
    </form>
{% endblock %}
