{% extends 'settings/advanced/master.twig' %}

{% set mode = 'Deactivate' %}

{% block description %}
    <p>You can deactivate your account here if you want to leave.</p>
    <p>This will remove your account from every rank it's a part of.</p>
    <p>If you have an active Tenshi tag on your account it won't pause while your account is deactivated.</p>
    <p>You can reactivate your account by logging in within 30 days, after that period your account will be removed.</p>
{% endblock %}

{% block settingsContent %}
    <form enctype="multipart/form-data" method="post" action="{{ route('settings.advanced.deactivate') }}">
        <div class="profile-field">
            <div><h2>Enter your password to continue</h2></div>
            <div><input type="password" name="password" class="input__text"></div>
        </div>
        <div style="text-align: center; margin: 2em;">
            <button name="session" value="{{ session_id() }}" class="input__button input__button--danger">I understand, deactivate my account</button>
        </div>
    </form>
{% endblock %}
