{% set comments = profile.profileComments %}
{% set commentsCategory = 'profile-' ~ profile.id %}
<div class="new-profile-mode-title">
    <h1 class="stylised">Comments</h1>
</div>
{% include 'elements/comments.twig' %}
