<h1>Background</h1>
<form enctype="multipart/form-data" method="post" action="{{ route('user.background', user.id) }}" style="margin: 1em">
    <input type="hidden" name="MAX_FILE_SIZE" value="{{ config('file.background.max_file_size') }}">
    <input type="hidden" name="session" value="{{ session_id() }}">
    <input type="file" name="file">
    <button>upload</button>
</form>
