{% extends 'global/master.twig' %}

{% block title %}Reactivate account{% endblock %}

{% block content %}
    {% if sakura.lockAuth %}
        <h1 class="stylised" style="line-height: 1.8em; text-align: center;">Reactivation is disabled for security checkups! Try again later.</h1>
    {% else %}
        <div class="loginPage">
            <div class="resendForm">
                <div class="head">
                    Reactivate account
                </div>
                <form method="post" action="{{ route('auth.reactivate') }}" id="resendForm">
                    <input type="hidden" name="session" value="{{ php.sessionid }}" />
                    <div class="leftAlign">
                        <label for="activeUserName">Username:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="text" id="activeUserName" name="username" />
                    </div>
                    <div class="leftAlign">
                        <label for="activeEmail">E-mail:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="text" id="activeEmail" name="email" />
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="submit" name="submit" value="Request Activation" id="requestActiveBtn" />
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
