{% extends 'settings/account/master.twig' %}

{% set mode = 'Password' %}

{% block description %}
    <p>Used to authenticate with the site and certain related services.</p>
{% endblock %}

{% block settingsContent %}
    <form enctype="multipart/form-data" method="post" action="{{ route('settings.account.password') }}">
        <div class="profile-field">
            <div><h2>Current Password</h2></div>
            <div><input type="password" name="current" placeholder="Enter your current password." class="inputStyling" /></div>
        </div>
        <div class="profile-field">
            <div><h2>New Password</h2></div>
            <div><input type="password" name="password" placeholder="Enter your new password." class="inputStyling" /></div>
        </div>
        <div class="profile-save">
            <button value="{{ session_id() }}" name="session" class="inputStyling">Save</button>
            <button type="reset" class="inputStyling">Reset</button>
        </div>
    </form>
{% endblock %}
