{% extends 'settings/account/master.twig' %}

{% set mode = 'Title' %}

{% block description %}
    <p>That little piece of text displayed besides your username in most places.</p>
{% endblock %}

{% block settingsContent %}
    <form enctype="multipart/form-data" method="post" action="{{ route('settings.account.title') }}">
        <h3 style="text-align: center;">Your current user title is:<br /><span style="font-weight: 700;">{{ user.title }}</span></h3>
        <div class="profile-field">
            <div><h2>New title</h2></div>
            <div><input type="text" name="title" placeholder="Enter your new user title (Max 64 characters)" class="inputStyling" value="{{ user.title }}" /></div>
        </div>
        <div class="profile-save">
            <button value="{{ session_id() }}" name="session" class="inputStyling">Save</button>
            <button type="reset" class="inputStyling">Reset</button>
        </div>
    </form>
{% endblock %}
