<form enctype="multipart/form-data" method="post" action="{{ sakura.currentPage }}" id="changePasswordForm">
    <input type="hidden" name="sessid" value="{{ session_id() }}" />
    <input type="hidden" name="timestamp" value="{{ date().timestamp }}" />
    <input type="hidden" name="mode" value="deactivate" />
    <div class="profile-field">
        <div><h2>Username</h2></div>
        <div><input type="text" name="username" placeholder="Case sensitive, must match completely" class="inputStyling" /></div>
    </div>
    <div class="profile-field">
        <div><h2>Password</h2></div>
        <div><input type="password" name="password" placeholder="Security" class="inputStyling" /></div>
    </div>
    <div class="profile-field">
        <div><h2>E-mail address</h2></div>
        <div><input type="text" name="email" placeholder="More security" class="inputStyling" /></div>
    </div>
    <div class="profile-field">
        <div><h2>Type &quot;I am one hundred percent sure that I want to deactivate my account.&quot; without the quotes.</h2></div>
        <div><input type="text" name="sensitive" placeholder="Are you 100% case sensitively sure?" class="inputStyling" /></div>
    </div>
    <div class="profile-field">
        <div style="max-width: 512px; text-align: center; margin: 10px auto 0; background: repeating-linear-gradient(-45deg, #B33, #B33 10px, #B00 10px, #B00 20px); color: #FFF; border: 1px solid #C00; box-shadow: 0 0 3px #C00;">
            <div>Before continuing realise that deactivating your account will remove you from every rank you're in and active Tenshi will not pause.</div>
            <div>If your e-mail address is valid you can reactivate your account using the &quot;Resend Activation E-mail&quot; form on the authentication page.</div>
            <div>Forum posts and other data you've published on the site <u><b>won't</b></u> be removed upon deactivation, if you want these gone you can go through them yourself.</div>
            <div><h2>TL;DR: Deactivation removes all ranks from your account and won't be readded (except automated Tenshi) even if it was a joke.</h2></div>
        </div>
    </div>
    <div class="profile-save">
        <input style="background: repeating-linear-gradient(-45deg, #B33, #B33 10px, #B00 10px, #B00 20px); color: #FFF; border: 1px solid #C00; box-shadow: 0 0 3px #C00, inset 0 0 3px #C00;" type="submit" value="I understand, deactivate my account" name="submit" class="inputStyling" />
    </div>
</form>
<script type="text/javascript">
window.addEventListener("load", function() {
    prepareAjaxForm('changePasswordForm', 'Changing password...');
});
</script>
