<table class="settings-table">
    <thead>
        <tr><th>IP</th><th style="width: 370px;">Useragent</th><th>Login time</th><th></th></tr>
    </thead>
    <tfoot>
        <tr><th>IP</th><th>Useragent</th><th>Login time</th><th></th></tr>
    </tfoot>
    <tbody>
        {% for session in sessions %}

        {% endfor %}
    </tbody>
</table>
