/*
 * BBcode Styling
 */
@charset "utf-8";

.bbcode {
    line-height: 1.4;
    word-wrap: break-word;
}

.bbcode h1 {
    text-shadow: 0 0 5px #8364A1;
    color: #614390;
}

.bbcode ul {
    margin-left: 2em;
    list-style: square;
}

.bbcode .spoiler {
    background: #000;
}

.bbcode .spoiler:hover {
    background: inherit;
}

.bbcode blockquote {
    border: 1px solid #9475b2;
    border-bottom: 0;
    border-right: 0;
    background: linear-gradient(90deg, #B697d4, transparent) transparent;
    margin: .5em;
}

.bbcode blockquote > .quotee {
    font-weight: bold;
    border-bottom: 1px solid #9475b2;
    border-right: 1px solid #9475b2;
    background: #B697d4;
    padding-left: .5em;
}

.bbcode blockquote > .quote {
    margin-left: .5em;
    padding-bottom: .5em;
}

.bbcode a {
    color: #22E;
    text-decoration: none;
}

.bbcode a:hover {
    color: #22E;
    text-decoration: underline;
}

.bbcode a:active {
    color: #E22;
    text-decoration: underline;
}

.bbcode .spoiler-box-container {
    border: 1px solid #9475b2;
    margin: .5em;
}

.bbcode .spoiler-box-container > .spoiler-box-title {
    text-align: center;
    background: #B697d4;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 0;
}

.bbcode .spoiler-box-container > .spoiler-box-content {
    border-top: 1px solid #9475b2;
}

.bbcode img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.bbcode code {
    font-size: 1.1em;
}

