/*
 * Site chat styling
 */
#chat > #chatOnlineUsers {
    position: fixed;
    right: -300px;
    top: 0;
    bottom: 0;
    width: 300px;
    background: rgba(0, 0, 0, .7);
    color: #FFF;
    z-index: 1;
    box-shadow: 0 0 2px #222;
    overflow: auto;
    transition: .5s;
    visibility: hidden;
}

#chat > #chatOnlineUsers.open {
    right: 0;
    visibility: visible;
}

#chat > #chatOnlineUsers > div {
    margin: 5px;
}

#chat > #chatOnlineUsers > .chatOnlineListTitle {
    background: none;
    font-size: 2em;
    line-height: 1.2em;
    font-family: "SegoeUI-Light", sans-serif;
    padding: 5px;
}

#chatUserList > div {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    padding: 5px;
    border-radius: 5px;
}

#chatUserList > div:not(:last-child) {
    margin-bottom: 5px;
}

#chatUserList > div > .avatar {
    width: 50px;
    height: 50px;
    background: transparent url("/content/pixel.png") no-repeat scroll left center / contain;
    border-radius: 5px;
}

#chatUserList > div > .options {
    margin-left: 10px;
}

#chatUserList > div > .options > .actions {
    list-style: none;
    font-size: .8em;
    line-height: 1.2em;
}

#chatAccessButtons {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#chatAccessButtons > a {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    background: rgba(0, 0, 0, .5);
    color: #FFF;
    font-size: 2em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 2px #FFF;
    position: relative;
    transition: .5s;
    box-shadow: 0 0 2px #222;
    cursor: pointer;
}

#chatAccessButtons > a:hover {
    text-shadow: 0 0 5px #FFF;
}

#chatAccessButtons > a:active {
    text-shadow: 0 0 7px #FFF;
}

#chatAccessButtons > a.enter {
    animation: slideInFromRight 1 .6s, fadeIn 1 .6s;
}

#chatAccessButtons > a.exit {
    animation: slideOutToBottom 1 .6s, fadeOut 1 .6s;
}
