{% extends 'global/master.twig' %}

{% block title %}Forum Listing{% endblock %}

{% block content %}
    <div class="homepage forums">
        {% include 'elements/statsHeader.twig' %}
        {% include 'forum/forum.twig' %}
    </div>
{% endblock %}
