{% extends 'master.twig' %}

{% block content %}
    <div class="content homepage">
        <div class="content--right">
            {% include 'elements/indexPanel.twig' %}
        </div>
        <div class="content--left">
            <div class="content__header">News</div>
            {% for post in news %}
                {% include 'elements/newsPost.twig' %}
            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
