{% extends 'settings/appearance/master.twig' %}

{% set mode = 'Signature' %}

{% block description %}
    <p>This signature is displayed at the end of all your posts on the forum.</p>
{% endblock %}

{% block settingsContent %}
    <div class="bbcode" id="settingsPreview" style="max-height: 500px; overflow-y: auto; background: #C2AEEE; box-shadow: inset 0 0 1em 1em #D3BFFF;">{{ user.signature()|raw|nl2br }}</div>
    <hr class="default">
    <form enctype="multipart/form-data" method="post" action="{{ route('settings.appearance.signature') }}">
        <div><textarea name="signature" id="settingsEditor" class="inputStyling" style="width: calc(100% - 12px); height: 400px;">{{ user.signature }}</textarea></div>
        <div class="profile-save">
            <button value="{{ session_id() }}" name="session" class="inputStyling">Save</button>
            <button type="reset" class="inputStyling">Reset</button>
            <button type="button" class="inputStyling" onclick="settingsPreview();">Preview</button>
        </div>
    </form>
    {% include 'settings/appearance/_preview.twig' %}
{% endblock %}
