/*
 * Donation page Styling
 */
@charset "utf-8";

.donate .sectionHeader {
    margin: -1px -2px;
    background: linear-gradient(270deg, rgba(148, 117, 178, .7), rgba(148, 117, 178, 0), rgba(148, 117, 178, .7)) #C2AFFE;
    padding: 2px;
    font-weight: 700;
    font-size: 15px;
    color: #306;
}

.donate .featureParent {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
}

.donate .featureBox {
    background: linear-gradient(180deg, #C2AFFE, #B19EED) no-repeat scroll left top / cover #C2AFFE;
    margin: 7px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 .5em #000;
    display: inline-block;
    vertical-align: top;
    transition: box-shadow .2s;
    width: 320px;
    padding: 5px 0;
}

.donate .featureBox:hover {
    box-shadow: 0 0 1em #000;
    cursor: pointer;
}

.donate .featureBox:active {
    box-shadow: 0 0 1.5em #609;
}

.donate .featureBoxHeader {
    font-weight: 700;
    font-size: 15px;
}

.donate .featureBoxDesc {
    padding: 1px 2px;
}

.donate .featureBoxDesc.donateClosed {
    display: none;
}

.donate .featureBoxDesc.donateOpened {
    display: block;
}

.donate .paypal-donate-form {
    margin: 10px auto;
    display: block;
    text-align: center;
}
