/*
 * Forum Styling
 */
@charset "utf-8";

.forum .forumList {
    width: 100%;
    border-spacing: 0;
    margin-top: 2px;
}

.forum .forumList .forumCategory {
    background: #C2AFFE;
    font-weight: 700;
    font-size: 17px;
    color: inherit;
    text-decoration: none;
}

.forum .forumList .forumCategory .forumCategoryTitleColumn {
    padding: 4px;
}

.forum .forumList .forumForum {
    height: 50px;
}

.forum .forumList .forumForum .forumIconColumn {
    text-align: center;
    width: 50px;
}

.forum .forumList .forumForum .forumIconColumn .forumIcon.read {
    color: #444;
    text-shadow: 0 0 5px #444;
}

.forum .forumList .forumForum .forumIconColumn .forumIcon.unread {
    color: #6C5D7B;
    text-shadow: 0 0 5px #9475B2;
}

.forum .forumList .forumForum .forumTitleColumn .name {
    font-size: 1.2em;
    line-height: 1.7em;
}

.forum .forumList .forumForum .forumTitleColumn .desc {
    font-size: .8em;
    line-height: 1em;
}

.forum .forumList .forumForum .forumCountColumn {
    width: 70px;
    text-align: center;
}

.forum .forumList .forumForum .forumCountColumn .topics {
    font-size: 1.5em;
    color: #111;
}

.forum .forumList .forumForum .forumCountColumn .posts {
    font-size: .8em;
    line-height: 1.2em;
    color: #555;
}

.forum .forumList .forumForum .forumLastColumn {
    width: 250px;
    font-size: .9em;
    line-height: 1.4em;
}

.forum .forumList .forumForum .forumLastColumn div,
.forum .forumList .forumForum .forumTitleColumn div {
    padding-left: 5px;
}
