/*
 * Input box Styling
 */
@charset "utf-8";

input[type="submit"].inputStyling,
input[type="button"].inputStyling,
input[type="reset"].inputStyling {
    padding: 3px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background: linear-gradient(180deg, #9475B2 0%, #9475B2 50%, #86A 50%) #9475B2;
    margin: 4px 1px;
    color: #FFF;
    box-shadow: inset #222 0 0 1px;
    text-shadow: #888 0 0 2px;
    transition: text-shadow .5s, box-shadow .5s;
    font-size: 22px;
    min-width: 120px;
}

input[type="submit"].inputStyling.small,
input[type="button"].inputStyling.small,
input[type="reset"].inputStyling.small {
    padding: 0 4px 1px;
    margin: -2px 0 0;
    font-size: 16px;
    border-radius: 0;
    min-width: 80px !important;
}

input[type="submit"].inputStyling:hover,
input[type="button"].inputStyling:hover,
input[type="reset"].inputStyling:hover {
    box-shadow: inset #222 0 0 3px;
    text-shadow: #F1F1F1 0 0 5px;
}

input[type="submit"].inputStyling:active,
input[type="button"].inputStyling:active,
input[type="reset"].inputStyling:active {
    box-shadow: inset #222 0 0 5px;
    text-shadow: #F1F1F1 0 0 3px;
    transition: text-shadow .2s, box-shadow .2s;
}

input[type="text"].inputStyling,
input[type="password"].inputStyling ,
input[type="date"].inputStyling {
    padding: 3px 4px;
    border: 1px solid #CCC;
    box-shadow: inset #DDD 0 0 5px;
    background: linear-gradient(180deg, #FFF 0%, #EEE 50%, #E5E5E5 50%) #FFF;
}

input[type="text"].inputStyling.red,
input[type="password"].inputStyling.red,
input[type="date"].inputStyling.red {
    box-shadow: inset 0px 0px 7px #EB5959;
}

input[type="text"].inputStyling.green,
input[type="password"].inputStyling.green,
input[type="date"].inputStyling.green {
    box-shadow: inset 0px 0px 7px #A9EC8B;
}

textarea.inputStyling {
    padding: 3px 4px;
    border: 1px solid #CCC;
    box-shadow: inset #DDD 0 0 5px;
    background: linear-gradient(180deg, #FFF 0%, #EEE 50%, #E5E5E5 50%) #FFF;
}
