/*
 * News page styling
 */
@charset "utf-8";

.news {
    min-height: 0;
}

.news-head {
    margin: -1px -2px;
    padding: 4px;
    background: #C2AFFE;
    font-weight: 700;
    display: block;
    font-size: 17px;
    color: inherit;
    text-decoration: none;
}

.news-rss {
    float: right;
}

.news-body {
    font-size: 10pt;
    padding: 2px 0 0 3px;
}

.news-post-time {
    font-size: 8pt;
    padding: 6px 15px;
    text-align: right;
    font-weight: 700;
}
.news-poster {
    margin-top: -20px;
    float: right;
    text-align: center;
    width: 140px;
}

.news-poster img {
    max-width: 120px;
    max-height: 120px;
}

.news-poster h1 {
    line-height: 100%;
    margin: 0;
    margin-top: -5px;
}

@media (max-width: 768px) {

    .news-poster {
        margin: 0;
    }

}

@media (max-width: 400px) {

    .news-poster {
        margin-top: 10px;
        width: auto;
        padding: 0 10px 0 0;
    }

    .news-poster img {
        display: none;
    }

}
