body {
	background: url('//cdn.flashii.net/img/misaka-mikoto-1.png') no-repeat fixed center center / cover transparent !important;
}
div.profile {
	color: #FFF;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5) !important;
	text-shadow: 1px 1px 2px black;
}
h3.miotitle {
	text-shadow:none !important;
}
div.profile a, div.profile a:visited {
	color: #FFF;
	text-decoration: none;
	transition: color 0.4s ease-in 0s, text-shadow 0.4s ease-in 0s;
}
div.profile a:hover {
	text-shadow: 0px 0px 8px #F1F1F1;
}