/*
 * Markdown Elements
 */
@charset "utf-8";

.markdown {
    font: 12px/1.4 "Aller", sans-serif;
    word-wrap: break-word;
    color: #DDD;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    font-weight: 700;
    font-family: "Exo2-0-Italic", sans-serif;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown hr {
    border: 0;
    height: 1px;
    color: #000;
    background: #000;
    margin: 0;
}

.markdown table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
}

.markdown table tr {
    border-spacing: 0;
    border: 1px solid rgba(148, 117, 178, .6);
}

.markdown table th,
.markdown table td {
    padding: 6px 13px;
    border: 1px solid rgba(148, 117, 178, .6);
}

.markdown table tr:nth-child(even) {
    background: rgba(148, 117, 178, .2);
}

.markdown hr {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAEAQMAAAHgzeyWAAAABlBMVEX///////9VfPVsAAAAAnRSTlMAM8lDrC4AAAAYSURBVAjXY2BgaGBgYHBgSGA4wGDB8AAAELgC+QawOaIAAAAASUVORK5CYII=') repeat-x scroll 0 0 transparent;
    border: 0 none;
    color: #CCC;
    height: 4px;
    padding: 0;
    margin: 15px 0;
}

.markdown blockquote {
    border-left: 4px solid rgba(148, 117, 178, .6);
    padding: 0 15px;
    color: #AAA;
}

.markdown blockquote > blockquote {
    margin-left: 0;
}

.markdown blockquote > :last-child {
    margin-bottom: 0;
}

.markdown pre {
    word-wrap: normal;
}

.markdown .highlight pre,
.markdown pre {
    background: rgba(148, 117, 178, .2);
    border: 1px solid rgba(148, 117, 178, .6);
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    color: #FFF;
}

.markdown ul,
.markdown ol {
    margin-left: 40px;
}
