{% extends 'master.twig' %}

{% set title = 'Something went wrong!' %}

{% block content %}
    <div class="content content--alt" style="text-align: center;">
        <h1 style="margin: 1em auto;">Something went wrong!</h1>
        <h1 class="fa fa-exclamation-triangle" style="font-size: 20em;"></h1>
        <h3>Your account shouldn't have been charged yet, if it has contact staff ASAP.</h3>
    </div>
{% endblock %}
