{% extends 'master.twig' %}

{% set title = 'Logout' %}

{% block content %}
    <div class="auth content content--auth">
        <div class="content__header">
            Are you sure?
        </div>
        <form method="post" action="{{ route('auth.logout') }}" id="logoutForm">
            <button class="input__button auth__button" name="session" value="{{ session_id() }}">
                <i class="fa fa-sign-out"></i> Logout
            </button>
        </form>
    </div>
{% endblock %}
