{% extends 'master.twig' %}

{% set title = 'Reactivate account' %}

{% block content %}
    <div class="auth content content--auth">
        <div class="content__header">
            Reactivate account
        </div>
        <form method="post" action="{{ route('auth.reactivate') }}">
            <label>
                <div class="auth__label">Username</div>
                <input class="input__text" type="text" name="username" autofocus>
            </label>
            <label>
                <div class="auth__label">E-mail</div>
                <input class="input__text" type="text" name="email">
            </label>
            <button class="input__button auth__button" name="session" value="{{ session_id() }}">
                Request Activation
            </button>
        </form>
    </div>
{% endblock %}
