{% extends 'global/master.twig' %}

{% block title %}Information{% endblock %}

{% block content %}
    <div class="content standalone">
        <div>
            <h1>Information</h1>
            <hr class="default">
            {{ message }}
            {% if redirect %}<br><a href="{{ redirect }}" class="default">Click here if you aren't being redirected.</a>{% endif %}
        </div>
    </div>
{% endblock %}
