{% extends 'master.twig' %}

{% set title = 'Information' %}

{% block content %}
    <div class="content content--alt">
        <div>
            <h1>Information</h1>
            <hr>
            {{ message|default('') }}
            {% if redirect is defined %}<br><a href="{{ redirect }}">Click here if you aren't being redirected.</a>{% endif %}
        </div>
    </div>
{% endblock %}
