{% extends 'master.twig' %}

{% set title = 'Forums / ' ~ forum.name %}
{% set forumBackLink = route('forums.index') %}
{% set forumNewLink = route('forums.new', forum.id) %}
{% set forumMarkRead = route('forums.mark', forum.id) ~ '?s=' ~ session_id() %}

{% block content %}
    <div class="content">
        {% include 'forum/elements/forumBase.twig' %}
    </div>
{% endblock %}
