{% extends 'manage/overview/master.twig' %}

{% set mode = 'Index' %}

{% block description %}
    <p>A quick overview on what's going on.</p>
{% endblock %}

{% block manageContent %}
    <h1>wew</h1>
{% endblock %}
