<div class="head">{{ title }}</div>
<div class="forumList">
    {% for forum in forum.forums %}
        {% if forum.type == 1 %}
            {% if forum.forums|length and forum.permission(constant('Sakura\\Perms\\Forum::VIEW'), user.id) %}
                <div class="forumCategory">
                    {% if forum.type != 1 %}Subforums{% else %}<a href="{{ route('forums.forum', forum.id) }}" class="clean">{{ forum.name }}</a>{% endif %}
                </div>
                {% for forum in forum.forums %}
                    {% include 'forum/forumEntry.twig' %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% include 'forum/forumEntry.twig' %}
        {% endif %}
    {% endfor %}
</div>
{% if not forum.type and forum.id > 0 %}
    {% set threads = forum.threads|batch(25) %}

    {% set paginationPages = threads %}
    {% set paginationUrl %}{{ route('forums.forum', forum.id) }}{% endset %}

    {% include 'forum/forumBtns.twig' %}
    {% if forum.threads %}
        <table class="topicList">
            <thead>
                <tr>
                    <th></th>
                    <th>Topic</th>
                    <th>Author</th>
                    <th></th>
                    <th>Last post</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Topic</th>
                    <th>Author</th>
                    <th></th>
                    <th>Last post</th>
                </tr>
            </tfoot>
            <tbody>
                {% for thread in threads[get.page|default(1) - 1] %}
                    {% include 'forum/topicEntry.twig' %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1 class="stylised" style="margin: 2em auto; text-align: center;">There are no posts in this forum!</h1>
    {% endif %}
    {% include 'forum/forumBtns.twig' %}
{% endif %}
