<form method="post" action="{{ route('forums.thread.mod', thread.id) }}" style="display: inline-block;">
    <input type="hidden" name="session" value="{{ php.sessionid }}" />
    {% if forumSticky %}
        <button class="forumbtn" title="Sticky" name="action" value="sticky"><span class="fa fa-thumb-tack"></span></button>
    {% elseif forumUnsticky %}
        <button class="forumbtn" title="Unsticky" name="action" value="sticky"><span class="fa fa-remove"></span></button>
    {% endif %}
    {% if forumAnnounce %}
        <button class="forumbtn" title="Announce" name="action" value="announce"><span class="fa fa-bullhorn"></span></button>
    {% elseif forumUnannounce %}
        <button class="forumbtn" title="Unannounce" name="action" value="announce"><span class="fa fa-remove"></span></button>
    {% endif %}
    {% if forumLock %}
        <button class="forumbtn" title="Lock" name="action" value="lock"><span class="fa fa-lock"></span></button>
    {% elseif forumUnlock %}
        <button class="forumbtn" title="Unlock" name="action" value="lock"><span class="fa fa-unlock"></span></button>
    {% endif %}
    {% if forumRestore %}
        <button class="forumbtn" title="Restore" name="action" value="restore"><span class="fa fa-history"></span></button>
    {% endif %}
    {% if forumTrash %}
        <button class="forumbtn" title="Trash" name="action" value="delete"><span class="fa fa-trash"></span></button>
    {% elseif forumPrune %}
        <button class="forumbtn" title="Prune" name="action" value="delete"><span class="fa fa-bomb"></span></button>
    {% endif %}
</form>
